@use "./helpers/globals" as *;
@use "./helpers/mixins" as *;
@use "./helpers/placeholders" as *;
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

img,
video {
  max-width: 100%;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
input,
select,
option,
textarea,
button {
  border: none;
  outline: none;
}
::selection {
  background-color: $main-color;
  color: white;
}